body {font-family:verdana;color:#333;}
a {color:#575700;text-decoration:none;}
a:hover {color:marron;text-decoration:underline;}

.clearfix {zoom:1;}
.clearfix:after {clear:both;content:'.';display:block;height:0;visibility:hidden;}

h1 {font-size:250%;font-weight:bold;color:#404080;line-height:2;}
.index h1 {text-align:center;}
h3 {font-size:110%;font-weight:bold;line-height:1.6;}

/*resume*/
body.resume {color:#3c6450;font-family:"Trebuchet MS","verdana";text-align:left;}
body.resume .doc {background:#f9fbfa;border:1px solid #666;margin:10px auto;width:750px;*width:600px;}
body.resume a {color:#264033;text-decoration:underline;}
body.resume a:hover {color:#8080ff;text-decoration:none;}
body.resume h1 {color:#3c6450;font-size:160%;text-align:center;}
body.resume h2 {font-size:160%;font-weight:bold;xborder-bottom:2px solid #666;}
body.resume h3 {font-size:100%;font-weight:bold;}
body.resume em {border-bottom:1px dotted #333;}

dl.contact {float:right;text-align:right;margin-bottom:10px;padding:0 10px;}
dl.contact dt {font-weight:bold;padding:0 3px;text-align:right;}
dl.contact dd {border-bottom:1px solid #ccc;padding:0 5px;}

dl.experience {padding:0 8px;}
dl.experience dt.title {background:#666;border-left:5px solid #666;border-bottom:1px solid #666;color:#fff;font-weight:bold;margin-bottom:5px;padding:0 0 2px 5px;}
dl.experience dd {padding:0 10px;margin-bottom:10px;}

dl.experience li {list-style-type:disc;margin:0 0 5px 20px;}
dl.experience li.project {xfont-weight:bold;}
dl.experience h2 q {color:#666;font-size:52%;font-weight:normal;}
dl.experience h3 q {color:#666;font-size:80%;font-weight:normal;}
dl.experience ul {margin:10px 0;}
dl.experience div {margin-bottom:10px;}
dl.experience  .desc {padding-left:1em;}
