body {font-family:verdana;color:#333;}
a {color:#575700;}
a:hover {color:marron;text-decoration:underline;}

h2 {border-bottom: 3px solid; text-transform: uppercase;}
h3 {display: inline; font-size: 100%; margin:0;}
header {margin: 20px 0; background-color: #f0f0f0; padding: 5px;}
#experience ul.positions {
    padding-left: 0;
}

h4 {
    padding-left: 20px;
}

li {margin: 10px 0;}
#experience > ul > li {
    list-style-type: none;
}

#experience > ul > li > ul > li {
    list-style-type: disc;
}

#experience .y-service {
    padding-left: 1em;
}

.clearfix {zoom:1;}
.clearfix:after {clear:both;content:'.';display:block;height:0;visibility:hidden;}
.resume { border:1px solid #666; margin:10px auto; padding: 10px; width:800px;}

@media only screen and (max-width: 750px) {
    .resume {
        border: none;
        margin: 0 10px;
        width: auto;
    }
}

.social-links img {
    width: 100%;
    height: 100%;
    display: block;
}
#headline {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.column {
    flex: 1;
}

.column.social-links {
    flex: 0 0 100px;
    display: flex;
    justify-content: flex-end;
}

.social-links ul {
    display: flex;
    padding: 0 0 10px 0;
    margin: 0;
    list-style: none;
}

.social-links li {
    width: 24px;
    height: 24px;
    margin: 0 5px 0 0;
}

.contact-info {
    padding: 0;
    margin: 0;
    list-style: none;
}